div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}

.nav {
  background-color: #00ccff36;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  width: 100%;
}
.nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav .link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 40px;
}

.link:hover {
  color: #975b5b;
}

.profile {
  padding: 50px 500px 50px 500px;
  background-color: #975b5b9f;
  border-radius: 1rem;
  font-size: 1rem;
  width: 100%;
}
