div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: white;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}

.nav {
  background-color: #00ccff36;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  max-width: 80% !important;
}
.nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav .link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 40px;
}

.link:hover {
  color: #975b5b;
}

.profile {
  padding: 50px 500px 50px 500px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  background-color: #975b5b9f;
  border-radius: 1rem;
  font-size: 1rem;
  max-width: 100%;
}
