#main-header {
  background-color: #8c78bb;
  max-width: 100%;
  margin: 0;
  -webkit-box-shadow: 0px 0px 5px 3px #29292940;
  -moz-box-shadow: 0px 0px 5px 3px #29292940;
  box-shadow: 0px 0px 5px 3px #29292940;
}

#main-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header li {
  padding-left: 11rem;
}

#main-header a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #e4b9a7;
}

#main-header a:hover,
#main-header a:active,
#main-header a.active,
.signout:hover {
  color: #f8f2f2;
}

#header.header-down {
  margin: 0.5rem 5rem;
}

.signout {
  color: #dda68f;
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
}
