.home-page {
  margin-bottom: 10.2rem;
}

.home-page .home-text {
  font-family: "Trebuchet", "Arial Narrow", Arial, sans-serif !important;
  font-size: 12.5rem !important;
  background: -webkit-linear-gradient(227deg, #bb12dd 5%, #5321db 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  text-align: center;
}

.button1 {
  background-color: #4812dd;
  border: none;
  border-radius: 0.5em;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline-block;
  margin: 15px;
  padding: 10px;
  text-align: center;
  font-size: 26px;
  width: 250px;
}

.button2 {
  background-color: #bb12dd;
  border: none;
  border-radius: 0.5em;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline-block;
  margin: 15px;
  padding: 10px;
  text-align: center;
  font-size: 26px;
  width: 250px;
}
