.h1 {
  color: white;
  font-size: 70px !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  padding: 5px !important;
}

.signup {
  margin: 3rem auto;
  height: 50rem;
  width: 60%;
}
