.h1 {
  color: white;
  font-size: 55px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center !important;
  padding: 60px 10px 60px 10px;
}

.button {
  background-color: rgb(72, 18, 221);
  border: none;
  border-radius: 0.5em;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px !important;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  font-size: 26px;
  width: 300px;
}

.button:hover {
  color: white;
  background-color: rgb(187, 18, 221);
}
