.card {
  background-color: white;
  border-radius: 6px;
  /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);*/
}

.item {
  margin: 1rem 0;
}

.image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 1rem;
}

.count {
  text-align: center;
}

.content h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  color: black;
}

.content p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: black;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.additem button {
  background-color: rgb(72, 18, 221);
  border: none;
  border-radius: 0.5em;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  width: 100px;
}

.removeitem button {
  background-color: rgb(187, 18, 221);
  border: none;
  border-radius: 0.5em;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline-block;
  margin: 15px;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  width: 100px;
}
