.input {
  border: none;
  border-radius: 0.5em;
  color: rgb(72, 18, 221);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 26px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  height: 28px;
  width: 300px;
}

.input::placeholder {
  color: rgb(72, 18, 221);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 26px;
  text-align: center;
}

.button {
  background-color: rgb(72, 18, 221);
  border: none;
  border-radius: 0.5em;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline-block;
  margin: 15px;
  padding: 10px;
  text-align: center;
  font-size: 26px;
  width: 250px;
}
