.input {
  border: none;
  border-radius: 0.5em;
  color: rgb(72, 18, 221);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 26px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  height: 28px;
  width: 300px;
}

.Input {
  border: none;
  border-radius: 0.3em;
  color: rgb(74, 15, 235);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 26px;
  text-align: center !important;
  margin: 15px;
  padding: 15px;
  height: 45px;
  width: 445px;
}

.Input::placeholder {
  color: rgba(0, 38, 252, 0.274);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 26px;
  text-align: center !important;
}

.submit {
  background-color: rgb(72, 18, 221);
  border: none;
  border-radius: 0.5em;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  font-size: 26px;
  width: 200px;
}

.submit:hover {
  color: white;
  background-color: rgb(187, 18, 221);
  /*background-color: rgb(131, 9, 245);*/
}
